<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>403 | Classroom pros</title>
    <link rel="stylesheet" href="./css/error/403.css"/>
    <link rel="shortcut icon" href="./utils/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Muli font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    />
</head>
<body style="margin: 0px !important;">
<div class="container">
    <div class="wrapper">
        <img src="./utils/error/error-image.png" alt="sad" class="error__image"/>
        <p class="error__message">
            <span class="error__message--heading">Oops...</span>
            <span class="error__message--text">Due to limitations and security, we can not let you in here.</span>
        </p>
    </div>
</div>
</body>
</html>