<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>404 | Classroom pros</title>
    <link rel="stylesheet" href="./css/error/error.css"/>
    <link rel="shortcut icon" href="./utils/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Muli font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Muli:wght@300;600&display=swap"
            rel="stylesheet"
    />
</head>
<body style="margin: 0px !important;">
<div class="container">
    <div class="wrapper">
        <object data="./utils/error/error-image.svg" class="error__image"></object>
        <p class="error__message">
            <span class="error__message--heading">Oops...</span>
            <span class="error__message--text">The page you are looking for might have been removed or you assembled the link incorrectly.</span>
        </p>
    </div>
</div>
</body>
</html>