.box {
    max-width: 100vw;
    font-family: "Muli", sans-serif;
}

.box table {
    width: auto;
    height: auto;
}

table,
td,
th {
    border: 1px solid black;
}

th,
td {
    padding: 4px;
}

td {
    text-align: center;
}

.toolbox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}

.toolbox td:hover,
.user td:hover {
    background-color: #e6d3d3;
    cursor: pointer;
}

.plan-info {
    margin-top: 15px;
    margin-left: 10px;
    float: left;
    font-size: 12px;
}

.plan {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.plan tr:nth-child(even) {
    background-color: #f2f2f2;
}

.user {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}

.hour {
    font-size: 10px;
}

.subject {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
}

.teacher {
    margin: 0;
}

.teacher span {
    font-size: 12px;
    font-weight: 300;
}

.room {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}
