.box {
    width: 100vw;
    max-width: 100vw;
    font-family: "Muli", sans-serif;
}

.box table {
    width: auto;
    height: auto;
}

table,
td,
th {
    border: 1px solid black;
}

th,
td {
    padding: 4px;
}

td {
    text-align: center;
}

/* routes */

.user-routes {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}

.user-routes td:hover {
    background-color: #e2f0cb;
    cursor: pointer;
}

/* toolbox */

.toolbox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}

.toolbox td:hover {
    background-color: #ffdac1;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

/* available plans */

.available-plans {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
}

.available-plans-name {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.available-plans-name:hover {
    max-width: fit-content;
}

.available-plans td:hover {
    background-color: #c7ceea;
    cursor: pointer;
}

/* current plan */

.current-plan {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.current-plan th {
    font-size: 10px;
}

.current-plan tr:nth-child(even) {
    background-color: #f2f2f2;
}

.current-plan-lesson-hour {
    font-size: 10px;
}

.current-plan-lesson-subject {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
}

.current-plan-lesson-teacher {
    margin: 0;
}

.teacher-title,
.teacher-firstname,
.teacher-lastname {
    font-size: 10px;
    font-weight: 300;
}

.current-plan-lesson-room {
    margin: 0;
    font-size: 10px;
    font-weight: 300;
}

/* current plan title editor */

.editor {
    float: left;
}

.editor-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10px;
    min-width: 243px;
    width: 243px;
    max-width: 243px;
}

.editor-title-text {
    font-size: 12px;
    width: 98%;
}

.editor-title-submit {
    font-size: 12px;
    width: 100%;
}

/* lesson editor */

.editor-lesson {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10px;
    min-width: 243px;
    width: 243px;
    max-width: 243px;
}

label {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.editor-lesson-submit {
    font-size: 12px;
    width: 100%;
}

.editor-lesson-subject {
    font-size: 12px;
    width: 173px;
    max-width: 173px;
}

.editor-lesson-teacher {
    font-size: 12px;
    width: 173px;
    max-width: 173px;
}

.editor-lesson-room {
    font-size: 12px;
    width: 173px;
    max-width: 173px;
}