body {
    background-color: #f9fbfa;
    overflow-x: hidden;
}

/* main container */
.container {
    min-height: 100vh;
    height: 100vh;
    min-width: 100vw;
    width: 100vw;
    display: table;
}

/* header */
.header {
    min-height: 100%;
    height: 100vh;
    max-height: 100vh;
    width: 200px;
    min-width: 150px;
    background-color: #f0f1f5;
    border-right: 1px solid #cdcfd8;
    float: left;
    position: fixed;
}

.header > * {
    float: left;
}

/* logo */
.header__logo {
    width: 100%;
    margin-top: 30px;
}

.header__logo__img {
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* menu */
.header__menu {
    width: 100%;
    height: calc(100vh - 153px);
    display: table;
}

.header__menu__items {
    width: 140px;
    height: 25px;
    display: table-cell;
    vertical-align: middle;
}

.header__menu__items span {
    width: 140px;
    margin-bottom: 20px;
    color: #424c55;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

.header__menu__items span a {
    text-decoration: none;
    color: #424c55;
}

.header__menu__items span:hover {
    color: #6c63ff;
    cursor: pointer;
}

/* user actions */
.header__user {
    width: 100%;
    display: table;
}

.header__user__items {
    width: 140px;
    height: 25px;
    display: table-cell;
    vertical-align: middle;
}

.header__user__items span {
    width: 140px;
    margin-bottom: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__user__items span:hover {
    color: #6c63ff;
    cursor: pointer;
}

.header__user__items--logged {
    font-size: 14px;
    font-weight: 700;
    font-family: "Muli", sans-serif;
    color: #424c55;
}

.header__user__items--logout {
    font-size: 13px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
    color: #424c55;
}

/* workspace */

.workspace {
    width: auto;
    height: 100%;
    margin-left: 200px;
}

/* toolbar */

.workspace__toolbar {
    width: 360px;
    height: 100%;
    float: left;
    border-right: 1px solid #cdcfd8;
    overflow: auto;
}

.workspace__toolbar__inner {
    min-height: calc(100% - 80px);
    height: calc(100% - 80px);
    max-height: calc(100vh - 80px);
}

.toolbar--title {
    color: black;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Muli", sans-serif;
}

/* all plans */

.toolbar__plans--list {
    margin-top: 15px;
    padding-bottom: 15px;
}

#delete--icon {
    z-index: 1;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
}

.plan--name {
    z-index: 2;
    width: fit-content;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
    border: 1px solid #cdcfd8;
    border-radius: 4px;
    margin-left: 4px;
    padding: 2px 15px;
    background-color: white;
}

.toolbar__plans--list--item {
    z-index: auto;
    width: fit-content;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #9793e5;
    transition: 0.5s ease-in-out;
    position: relative;
}

.toolbar__plans--list--item:hover {
    margin-right: 26px;
}

.toolbar__plans--list--item:hover #show__plan--link {
    margin-left: 26px;
}

#delete__plan--link {
    z-index: 1;
    color: black;
    text-decoration: none;
}

#show__plan--link {
    z-index: 2;
    color: black;
    text-decoration: none;
    position: relative;
    transition: 0.5s ease-in-out;
}

.plan--name {
    transition: 0.5s ease-in-out;
}

.toolbar__plans--list--item:nth-child(even) {
    background-color: #cdcfd8;
}

/* edit title */

.toolbar__edit--title {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 15px;
}

.toolbar__edit--form--input {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    min-width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(205, 207, 216, 0.3);
    font-size: 14px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.toolbar__edit--form--submit {
    margin-top: 7px;
    display: block;
    background-color: #F0F1F5;
    border: 1px solid #cdcfd8;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
    float: right;
    clear: right;
    margin-bottom: 15px;
}

.toolbar__edit--form--submit:hover {
    cursor: pointer;
}

/* edit lesson */

.toolbar__edit--lesson--details {
    margin: 0 0 6px;
}

.toolbar__edit--lesson {
    margin-top: 15px;
    margin-bottom: 15px;
}

.lesson--details--title {
    font-size: 11px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
    color: #6f67dc;
}

.lesson--details--text {
    display: inline-block;
    margin: 0;
    float: right;
}

.lesson--details--text span {
    font-size: 12px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
    color: #6f67dc;
}

.form--subject {
    margin-bottom: 7px;
}

.form--subject select {
    font-size: 12px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.form--subject option {
    font-size: 12px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

.form--subject label {
    font-size: 11px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.editor-lesson-subject {
    width: calc(100% - 80px);
    float: right;
}

.form--teacher {
    margin-bottom: 7px;
}

.form--teacher select {
    font-size: 12px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.form--teacher option {
    font-size: 12px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

.form--teacher label {
    font-size: 11px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.editor-lesson-teacher {
    width: calc(100% - 80px);
    float: right;
}

.editor-lesson-room {
    width: calc(100% - 80px);
    float: right;
}

.form--room label {
    font-size: 11px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.form--room select {
    font-size: 12px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.form--room option {
    font-size: 12px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

/* toolbar accordion */

.toolbar__accordions {
    margin-top: 0px;
}

.accordion {
    width: 100%;
    color: #444;
    padding: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 13px;
    font-weight: 400;
    font-family: "Muli", sans-serif;
}

.active,
.accordion:hover {
    background-color: #f0f1f5;
}

.accordion:after {
    color: #777;
    float: right;
    margin-left: 5px;
    content: "\002B";
    font-weight: bold;
}

.active:after {
    content: "\2212";
}

.accordion_panel {
    padding: 0 18px;
    max-height: 0;
    border-bottom: 1px solid #cdcfd8;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
}

/* plan */

td a {
    text-decoration: none;
    color: black;
}

.link-expander {
    width: 100%;
}

.workspace__plan {
    height: 100vh;
    width: auto;
    overflow-y: scroll;
    padding-top: 0;
    margin-top: 0;
}

.workspace__plan__inner {
    padding: 40px;
}

.plan__title:hover {
    cursor: pointer;
}

.plan__title--heading {
    font-size: 20px;
    font-weight: 500;
    font-family: "Muli", sans-serif;
}

.plan__title--text {
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Muli", sans-serif;
}

.plan__container__table {
    min-width: 100%;
    width: 100%;
    margin-top: 60px;
    font-family: "Muli", sans-serif;
    border-collapse: collapse;
    display: flex;
    justify-content: left;
    text-align: center;
}

.plan__container__table th {
    height: 30px;
    width: 200px;
    font-weight: 500;
    font-size: 13px;
    background-color: #f0f1f5;
    color: #424c55;
    border: 1pt solid #cdcfd8;
}

.plan__container__table td {
    height: 70px;
    border: 1pt solid #cdcfd8;
}

.plan__container__table__hour {
    font-size: 12px;
    font-weight: 500;
}

.plan__container__table__subject {
    font-size: 12px;
    font-weight: 500;
}

.plan__container__table__teacher {
    font-size: 11px;
    font-weight: 300;
}

.plan__container__table__room {
    font-size: 11px;
    font-weight: 300;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
    background: lightgray;
}
