<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add new item</title>
    <link rel="stylesheet" href="./css/homepage.css"/>
    <link rel="shortcut icon" href="./utils/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="upload-box">
    <div class="upload-box-header">
        <table class="upload-user-routes">
            <tr>
                <th>User routes</th>
                <td><a href="/sign-in">Sign in</a></td>
                <td><a href="/sign-up">Sign up</a></td>
                <td><a href="/homepage">Homepage</a></td>
                <td><a href="/test-home">Homepage - test</a></td>
            </tr>
        </table>
        <table class="upload-toolbox">
            <tr>
                <td>Add teacher</td>
                <td>Add Subject</td>
                <td>Add room</td>
            </tr>
        </table>
        <p class="warning-message" th:text="${message}"></p>
    </div>
    <!-- Teacher form-->
    <div class="upload-form-teacher">
        <form name="add-teacher-action" action="add-teacher-action" method="POST">
            <input type="text" placeholder="First name" class="form-container-firstname"
                   name="add-teacher-firstname-input">
            <div class="form-container-line"></div>
            <input type="text" placeholder="Last name" class="form-container-lastname"
                   name="add-teacher-lastname-input">
            <div class="form-container-line"></div>
            <input type="text" placeholder="Title" class="form-container-title"
                   name="add-teacher-title-input">
            <div class="form-container-line"></div>
            <div class="form-container-buttons">
                <button class="form-container-teacher-button" type="submit">Add new teacher</button>
            </div>
        </form>
    </div>
    <!-- Subject form-->
    <div class="upload-form-subject">
        <form name="add-subject-action" action="add-subject-action" method="POST">
            <input type="text" placeholder="Subject name" class="form-container-subject-name"
                   name="add-subject-name-input">
            <div class="form-container-line"></div>
            <div class="form-container-buttons">
                <button class="form-container-subject-button" type="submit">Add new subject</button>
            </div>
        </form>
    </div>
    <!-- Room form-->
    <div class="upload-form-room">
        <form name="add-room-action" action="add-room-action" method="POST">
            <input type="number" placeholder="Room number" class="form-container-room-number"
                   name="add-room-number-input">
            <div class="form-container-line"></div>
            <div class="form-container-buttons">
                <button class="form-container-room-button" type="submit">Add new room</button>
            </div>
        </form>
    </div>
</div>

<div class="teacher-table">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${allTeachers}">
            <td th:text="${teacher.teacher_id}" name="teacherId"></td>
            <td th:text="${teacher.first_name}"></td>
            <td th:text="${teacher.last_name}"></td>
            <td th:text="${teacher.title}"></td>
            <td><a class="teacher-edit-button" type="submit">
                <button th:text="Edit"/></a>
            </td>
            <td><a th:href="@{'/delete-teacher-' + ${teacher.teacher_id}}" class="teacher-delete-button" name="teacher-delete-button">
                <button th:text="Delete"/></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="room-table">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="room : ${allRooms}">
            <td th:text="${room.room_id}"></td>
            <td th:text="${room.number}"></td>
            <td><a class="room-edit-button" type="submit">
                <button th:text="Edit"/></a>
            </td>
            <td><a th:href="@{'/delete-room-' + ${room.room_id}}" class="room-delete-button" name="room-delete-button">
                <button th:text="Delete"/></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="subject-table">
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Subject name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${allSubjects}">
            <td th:text="${subject.subject_id}"></td>
            <td th:text="${subject.subjectName}"></td>
            <td><a class="subject-edit-button" type="submit">
                <button th:text="Edit"/></a>
            </td>
            <td><a th:href="@{'/delete-subject-' + ${subject.subject_id}}" class="subject-delete-button" name="subject-delete-button">
                <button th:text="Delete"/></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>