<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Homepage - TEST VERSION</title>
    <link rel="stylesheet" href="./css/homepage-test.css" />
    <link rel="shortcut icon" href="utils/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="margin: 0px !important;">
<div class="box">
    <div class="back">
        <div class="header">
            <!-- user -->
            <table class="user">
                <tr>
                    <th>User actions</th>
                    <td>Sign in</td>
                    <td>Sign up</td>
                </tr>
            </table>
            <!-- toolbox -->
            <table class="toolbox">
                <tr>
                    <th>Toolbox</th>
                    <td>Add new item</td>
                    <td>Edit item</td>
                    <td>Delete item</td>
                    <td>Create new</td>
                    <td>Export</td>
                    <td>Import</td>
                </tr>
            </table>
        </div>

        <div class="content">
            <!-- plan-info -->
            <table class="plan-info">
                <tr>
                    <th>Plan title</th>
                </tr>
                <tr>
                    <td>-</td>
                </tr>
            </table>

            <!-- actual plan -->
            <table class="plan">
                <tr>
                    <th>Hours</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
                <tr th:each="hour : ${hourData}">
                    <td th:text="${hour.start + ' - ' + hour.end}"></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </c:forEach>
                <!--
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr> -->
            </table>
        </div>
    </div>
</div>
</body>
</html>
