<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson view</title>
    <link rel="stylesheet" href="./css/admin.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Admin Panel</header>
        <ul>
            <label class="panel">Managers</label>
            <li><a href="/user-manager"><i class="fas fa-user-cog"></i>Admin manager</a></li>
            <li><a href="/lesson-manager"><i class="fas fa-book"></i>Lesson manager</a></li>
            <label class="panel">Views</label>
            <li><a href="/users-view"><i class="fas fa-id-card"></i>Admin view</a></li>
            <li><a href="/lessons-view"><i class="fas fa-table"></i>Lesson view</a></li>
            <label class="panel">Editors</label>
            <li><a href="/plans"><i class="far fa-calendar"></i>Plan editor</a> </li>
        </ul>
    </div>
</div>
    <div class="layout">
        <table border="1">
            <thead>
            <tr>
                <th>id</th>
                <th>subject name</th>
                <th>teacher id</th>
                <th>title</th>
                <th>surname</th>
                <th>name</th>
                <th>room id</th>
                <th>room number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${allLessons}"
                th:if="${lesson.getTeacher().teacher_id!=1}">
                <td th:text="${lesson.id}"></td>
                <td th:text="${lesson.getSubject().getSubjectName()}"></td>
                <td th:text="${lesson.getTeacher().getTeacher_id()}"></td>
                <td th:text="${lesson.getTeacher().getTitle()}"></td>
                <td th:text="${lesson.getTeacher().getLast_name()}"></td>
                <td th:text="${lesson.getTeacher().getFirst_name()}"></td>
                <td th:text="${lesson.getRoom().getRoom_id()}"></td>
                <td th:text="${lesson.getRoom().getNumber()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>