<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lesson manager</title>
    <link rel="stylesheet" href="./css/admin.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Admin Panel</header>
        <ul>
            <label class="panel">Managers</label>
            <li><a href="/user-manager"><i class="fas fa-user-cog"></i>User manager</a></li>
            <li><a href="/lesson-manager"><i class="fas fa-book"></i>Lesson manager</a></li>
            <label class="panel">Views</label>
            <li><a href="/users-view"><i class="fas fa-id-card"></i>User view</a></li>
            <li><a href="/lessons-view"><i class="fas fa-table"></i>Lesson view</a></li>
            <li><a href="/homepage"><i class="fas fa-house-user"></i>Homepage view</a> </li>
            <label class="panel">Editors</label>
            <li><a href="/plans"><i class="far fa-calendar"></i>Plan editor</a> </li>
        </ul>
    </div>
</div>
<div class="layout">
        <label>Add teacher</label>
        <form name="add-teacher" action="/add-teacher-action" method="POST">
            <input type="text" placeholder="Teacher's title" name="add-teacher-title-input">
            <input type="text" placeholder="Teacher's name" name="add-teacher-firstname-input">
            <input type="text" placeholder="Teacher's lastname" name="add-teacher-lastname-input">
            <button type="submit">Add teacher</button>
        </form> <br><br>
        <label>Add subject</label>
        <form name="add-subject" action="/add-subject-action" method="POST">
            <input type="text" placeholder="Subject's name" name="add-subject-name-input">
            <button type="submit">Add subject</button>
        </form><br><br>
        <label>Add room</label>
        <form name="add-room" action="/add-room-action" method="POST">
            <input type="text" placeholder="Room's number" name="add-room-number-input">
            <button type="submit">Add room</button>
        </form><br><br>

    <table border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>first name</th>
            <th>last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${allTeachers}"
            th:if="${teacher.teacher_id!=1}">
            <td th:text="${teacher.teacher_id}"></td>
            <td th:text="${teacher.title}"></td>
            <td th:text="${teacher.first_name}"></td>
            <td th:text="${teacher.last_name}"></td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>