<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
    <title>Main page</title>
    <link rel="stylesheet" href="./css/plan.css"/>
    <link rel="shortcut icon" href="./utils/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Muli font -->
    <link
            href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;900&display=swap"
            rel="stylesheet"
    />
    <script type="text/javascript" src="./js/toolbar.js"></script>
</head>
<body style="margin: 0px !important;">
<div class="container">
    <!-- header -->
    <div class="header">
        <div class="header__logo">
            <img
                    class="header__logo__img"
                    src="utils/logo-vertical.png"
                    alt="Classroom pros"
            />
        </div>
        <div class="header__menu">
            <div class="header__menu__items">
                <span><a href="/homepage">Homepage</a></span>
                <span><a href="/plans">Plans</a></span>
                <span>About</span>
                <span>Contact</span>
            </div>
        </div>
        <div class="header__user">
            <div class="header__user__items">
                <span class="header__user__items--logged">John Doe</span>
                <span class="header__user__items--logout">Log out</span>
            </div>
        </div>
    </div>
    <div class="workspace">
        <!-- toolbar -->
        <div class="workspace__toolbar">
            <div class="workspace__toolbar__inner">
                <div class="toolbar__accordions">
                    <!-- change plan title -->
                    <button class="accordion">Change plan title</button>
                    <div class="accordion_panel">
                        <div class="toolbar__edit--title">
                            <form action="rename-plan" id="toolbar__edit--form" method="POST">
                                <input type="hidden" name="planId" form="toolbar__edit--form" th:value="${currentPlan.id}"/>
                                <input type="text" name="planName" form="toolbar__edit--form" th:value="${currentPlan.name}" class="toolbar__edit--form--input"/>
                                <button type="submit" form="toolbar__edit--form" class="toolbar__edit--form--submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- edit lesson -->
                    <button class="accordion" id="accordion--lesson">Lesson editor</button>
                    <div class="accordion_panel">
                        <div class="toolbar__edit--lesson">
                            <form action="lesson-update" id="toolbar__edit--lesson--form" method="POST">
                                <!-- subject -->
                                <div class="form--subject">
                                    <input type="hidden" name="lessonId" form="toolbar__edit--lesson--form" th:value="${editedLessonId}"/>
                                    <input type="hidden" name="planId" form="toolbar__edit--lesson--form" th:value="${currentPlan.id}"/>
                                    <label for="editor-lesson-subject">Subject: </label>
                                    <select id="editor-lesson-subject" class="editor-lesson-subject" name="subjectId">
                                        <option th:each="subject : ${allSubjects}" th:value="${subject.subject_id}"
                                                th:text="${subject.subjectName}"
                                                th:selected="(${subject.subject_id} == *{selectedLessonSubject})">
                                        </option>
                                    </select>
                                </div>
                                <!-- teacher -->
                                <div class="form--teacher">
                                    <label for="editor-lesson-teacher">Teacher: </label>
                                    <select id="editor-lesson-teacher" class="editor-lesson-teacher" name="teacherId">
                                        <option th:each="teacher : ${allTeachers}" th:value="${teacher.teacher_id}"
                                                th:text="${teacher.title != null} ? ${teacher.title + ' ' + teacher.first_name + ' ' + teacher.last_name} : ' '"
                                                th:selected="(${teacher.teacher_id} == *{selectedLessonTeacher})">
                                        </option>
                                    </select>
                                </div>
                                <!-- room -->
                                <div class="form--room">
                                    <label for="editor-lesson-room">Room: </label>
                                    <select id="editor-lesson-room" class="editor-lesson-room" name="roomId">
                                        <option th:each="room : ${allRooms}" th:value="${room.room_id}" th:text="${room.number}"
                                                th:selected="(${room.room_id} == *{selectedLessonRoom})">
                                        </option>
                                    </select>
                                </div>
                                <button type="submit" form="toolbar__edit--lesson--form" class="toolbar__edit--form--submit">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- all plans -->
                    <button class="accordion">Available plans</button>
                    <div class="accordion_panel">
                        <div class="toolbar__plans">
                            <div class="toolbar__plans--list">
                                <div class="toolbar__plans--list--item" th:each="plan : ${allPlans}">
                                    <a th:href="@{'/plan-' + ${plan.id}}">
                                        <span th:text="${plan.name}"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="workspace__plan">
            <div class="workspace__plan__inner">
                <div class="plan__title">
                    <span class="plan__title--heading">Plan title</span>
                    <span class="plan__title--text" th:text="${currentPlan.name}"></span>
                </div>
                <div class="plan__container">
                    <table class="plan__container__table">
                        <tr>
                            <th>Hours</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                        </tr>
                        <tr th:each="hour, iter : ${hourData}">
                            <td th:text="${hour.start + ' - ' + hour.end}" class="plan__container__table__hour"></td>
                            <!-- monday lessons -->
                            <td>
                                <a th:href="@{'/request-lesson-update-' + ${mondayData[__${iter.index}__].id} + '-' + ${currentPlan.id}}">
                                    <div class="link-expander">
                                        <p th:text="${mondayData[__${iter.index}__].subject.subjectName}"
                                           class="plan__container__table__subject"></p>
                                        <p class="plan__container__table__teacher">
                                                <span th:text="${mondayData[__${iter.index}__].teacher.title}"
                                                      class="plan__container__table__teacher--title"></span>
                                            <span th:text="${mondayData[__${iter.index}__].teacher.first_name}"
                                                  class="plan__container__table__teacher--firstname"></span>
                                            <span th:text="${mondayData[__${iter.index}__].teacher.last_name}"
                                                  class="plan__container__table__teacher--lastname"></span>
                                            &nbsp;
                                        </p>
                                        <p th:text="${mondayData[__${iter.index}__].room.number}"
                                           class="plan__container__table__room"></p>
                                    </div>
                                </a>
                            </td>
                            <!-- tuesday lessons -->
                            <td>
                                <a th:href="@{'/request-lesson-update-' + ${tuesdayData[__${iter.index}__].id} + '-' + ${currentPlan.id}}">
                                    <div class="link-expander">
                                        <p th:text="${tuesdayData[__${iter.index}__].subject.subjectName}"
                                           class="plan__container__table__subject"></p>
                                        <p class="plan__container__table__teacher">
                                                <span th:text="${tuesdayData[__${iter.index}__].teacher.title}"
                                                      class="plan__container__table__teacher--title"></span>
                                            <span th:text="${tuesdayData[__${iter.index}__].teacher.first_name}"
                                                  class="plan__container__table__teacher--firstname"></span>
                                            <span th:text="${tuesdayData[__${iter.index}__].teacher.last_name}"
                                                  class="plan__container__table__teacher--lastname"></span>
                                            &nbsp;
                                        </p>
                                        <p th:text="${tuesdayData[__${iter.index}__].room.number}"
                                           class="plan__container__table__room"></p>
                                    </div>
                                </a>
                            </td>
                            <!-- wednesday lessons -->
                            <td>
                                <a th:href="@{'/request-lesson-update-' + ${wednesdayData[__${iter.index}__].id} + '-' + ${currentPlan.id}}">
                                    <div class="link-expander">
                                        <p th:text="${wednesdayData[__${iter.index}__].subject.subjectName}"
                                           class="plan__container__table__subject"></p>
                                        <p class="plan__container__table__teacher">
                                                <span th:text="${wednesdayData[__${iter.index}__].teacher.title}"
                                                      class="plan__container__table__teacher--title"></span>
                                            <span th:text="${wednesdayData[__${iter.index}__].teacher.first_name}"
                                                  class="plan__container__table__teacher--firstname"></span>
                                            <span th:text="${wednesdayData[__${iter.index}__].teacher.last_name}"
                                                  class="plan__container__table__teacher--lastname"></span>
                                            &nbsp;
                                        </p>
                                        <p th:text="${wednesdayData[__${iter.index}__].room.number}"
                                           class="plan__container__table__room"></p>
                                    </div>
                                </a>
                            </td>
                            <!-- thursday lessons -->
                            <td>
                                <a th:href="@{'/request-lesson-update-' + ${thursdayData[__${iter.index}__].id} + '-' + ${currentPlan.id}}">
                                    <div class="link-expander">
                                        <p th:text="${thursdayData[__${iter.index}__].subject.subjectName}"
                                           class="plan__container__table__subject"></p>
                                        <p class="plan__container__table__teacher">
                                                <span th:text="${thursdayData[__${iter.index}__].teacher.title}"
                                                      class="plan__container__table__teacher--title"></span>
                                            <span th:text="${thursdayData[__${iter.index}__].teacher.first_name}"
                                                  class="plan__container__table__teacher--firstname"></span>
                                            <span th:text="${thursdayData[__${iter.index}__].teacher.last_name}"
                                                  class="plan__container__table__teacher--lastname"></span>
                                            &nbsp;
                                        </p>
                                        <p th:text="${thursdayData[__${iter.index}__].room.number}"
                                           class="plan__container__table__room"></p>
                                    </div>
                                </a>
                            </td>
                            <!-- friday lessons -->
                            <td>
                                <a th:href="@{'/request-lesson-update-' + ${fridayData[__${iter.index}__].id} + '-' + ${currentPlan.id}}">
                                    <div class="link-expander">
                                        <p th:text="${fridayData[__${iter.index}__].subject.subjectName}"
                                           class="plan__container__table__subject"></p>
                                        <p class="plan__container__table__teacher">
                                                <span th:text="${fridayData[__${iter.index}__].teacher.title}"
                                                      class="plan__container__table__teacher--title"></span>
                                            <span th:text="${fridayData[__${iter.index}__].teacher.first_name}"
                                                  class="plan__container__table__teacher--firstname"></span>
                                            <span th:text="${fridayData[__${iter.index}__].teacher.last_name}"
                                                  class="plan__container__table__teacher--lastname"></span>
                                            &nbsp;
                                        </p>
                                        <p th:text="${fridayData[__${iter.index}__].room.number}"
                                           class="plan__container__table__room"></p>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var accordions = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < accordions.length; i++) {
        accordions[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>
