<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <link rel="stylesheet" href="./css/register.css"/>
    <link rel="shortcut icon" href="./utils/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Muli font -->
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300;400;900&display=swap" rel="stylesheet">
</head>
<body style="margin: 0px !important;">
<!-- Login form container -->
<div class="grid-item form">
    <div class="form-container">
        <div class="form-container-inner">
            <div class="form-container-title">Sign up</div>
            <!-- Sign-up form -->
            <form name="sign-up-action" action="sign-up-action" method="POST">
                <input type="text" placeholder="E-mail address" class="form-container-email" name="sign-up-email-input">
                <div class="form-container-line"></div>
                <input type="password" placeholder="Password" class="form-container-password" name="sign-up-password-input">
                <div class="form-container-line"></div>
                <div class="form-container-buttons">
                    <button class="form-container-login-button" type="submit">Sign up</button>
                    <a href="/sign-in">
                        <button class="form-container-signup-button" type="button">Log in</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>
